
    /* CSS*/
    
    h1{
        margin: auto;  
        text-align:center;
    }
    .game{
        width: 255px;
        text-align:center;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(244, 240, 240);
        margin: auto;
        font-weight:500;
    }
    .colo{
       background:#f25;
       padding:5px 0;
        margin: 5px 0;
        color: black;
    }

    span{
      color:coral; 
    }


    .square{
width: 80px;
height: 80px;
background-color:#f25 ;
float: left;
margin: 2px;
font-size: 50px;


    }
    .square:hover {
        background:rgb(11, 11, 10);
        cursor: pointer;
      }
      
    